{% extends 'base.html' %}
{% block title %}Welcome{% endblock %}
{% block content %}
<div class="header">
    <h1>Welcome to SonySugar Dashboard</h1>
    <p class="lead">Let's supercharge your operations TODAY!!!</p>
    <p><a href="#" type="button" class="btn btn-success btn-md">GET STARTED</a></p>
</div>
<div class="card-deck">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Online ICT Support</h4>
                <p class="card-text">IT issues bugging you?</p>
                <a href="#" type="button" class="btn btn-success">Get in Touch</a>
            </div>
        </div>
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Share Knowledge</h4>
            <p class="card-text">AMS, SAP, QMS , EMS operational manuals and more!</p>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Online Surveys</h4>
            <p class="card-text">Get access to the latest SonySugar Corporate polls.</p>
        </div>
    </div>
</div>

{% endblock content %}